# macOS
.DS_Store

# Logs / env
*.log
.env
.env.local

# Editors
.vscode/
.idea/

# Common build output
node_modules/
dist/
build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/README.md
.bundle/
vendor/bundle/
